# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\developer_tools\IDEA_Project\saleManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
